.hive-cpt-cnt-facts {

  .count_number {
    position: relative;
    margin: 0 0 40px 0;
    @include media-breakpoint-up(md) {
      margin: 0;
    }

    span {
      display: block;
    }

    p {
      margin: 0;
    }

    .count-up--value {
      font-weight: 700;
      color: $primary;
      font-size: 4rem;
      line-height: 1;
      margin: 10px 0;
    }

    .count-up--teaser {
      color: $gray-700;
    }

    .count-up--title {
      font-weight: 200;
      font-size: 2.5rem;
    }
    .count-up--icon {
      max-width: 30px;
      margin: auto;
    }
    .tx-hive-cpt-cnt-img {
      margin-bottom: 0;
    }
  }
}