<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <v:variable.set name="sSeperator" value=""/>
        <f:if condition="{settings.tSeperator}">
            <v:variable.set name="tSeperator" value="{settings.tSeperator}"/>
        </f:if>

        <v:variable.set name="dSeperator" value=""/>
        <f:if condition="{settings.dSeperator}">
            <v:variable.set name="dSeperator" value="{settings.dSeperator}"/>
        </f:if>

        <div class="d-flex justify-content-around flex-wrap">
            <f:for each="{facts}" as="fact" iteration="i" key="index">

                <v:variable.set name="iDuration" value="2"/>
                <f:if condition="{settings.iDuration}">
                    <v:variable.set name="iDuration" value="{settings.iDuration}"/>
                </f:if>
                <f:if condition="{fact.duration}">
                    <v:variable.set name="iDuration" value="{f:format.stripTags(value: '{fact.duration -> f:format.html()}')}"/>
                </f:if>

                <v:variable.set name="iStart" value="0"/>
                <f:if condition="{fact.startValue}">
                    <v:variable.set name="iStart" value="{f:format.stripTags(value: '{fact.startValue -> f:format.html()}')}"/>
                </f:if>

                <v:variable.set name="iDecimals" value="0"/>
                <f:if condition="{settings.iDecimals}">
                    <v:variable.set name="iDecimals" value="{settings.iDecimals}"/>
                </f:if>
                <f:if condition="{fact.decimals}">
                    <v:variable.set name="iDecimals" value="{f:format.stripTags(value: '{fact.decimals -> f:format.html()}')}"/>
                </f:if>


                <div id="fact_{fact.uid}" class="count_number p-5">
                    <div class="inner text-center">
                        <f:if condition="{fact.image}">
                                <span class="count-up--icon">
                                    <hive:cptCntImg uid="{fact.image.uid}"/>
                                </span>
                        </f:if>
                        <span id="count-up--element-{fact.uid}"
                              class="count-up--value display_inline-block"
                              data-easing="{f:if(condition: '{settings.useEasing}', then: '1', else: '0')}"
                              data-prefix="{fact.valuePrefix}"
                              data-suffix="{fact.valueSuffix}"
                              data-thousands-separator="{f:if(condition: '{fact.useThousandsSeperator}', then: '1', else: '0')}"
                              data-seperator="{tSeperator}"
                              data-decimal-seperator="{dSeperator}"
                              data-start="{iStart}"
                              data-target="{f:format.stripTags(value: '{fact.value -> f:format.html()}')}"
                              data-decimals="{iDecimals}"
                              data-duration="{iDuration}">
                                {iStart}
                            </span>
                        <span class="count-up--title">{fact.title}</span>
                        <f:if condition="{fact.subTitle}">
                            <span class="count-up--teaser">{fact.subTitle}</span>
                        </f:if>
                    </div>
                </div>

            </f:for>
        </div>
    </f:section>



</div>